
server ip:

<替换为服务器IP地址，如 192.168.1.100>

<替换为SSH用户名，如 root>


deploy path:

<可选：替换为服务器上的项目部署路径，如 /root/my-project>
<留空则默认为 ~/<本地项目目录名>>


privatekey:

<粘贴SSH私钥内容，格式如下>
-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEA...
...
-----END RSA PRIVATE KEY-----
